@model IEnumerable<SMMS.Models.InstumentLevel>

<section class="panel" style="margin-top:100px;">
    <header class="panel-heading">
        <div class="panel-actions">
            <button class="mb-xs mt-xs mr-xs modal-sizes btn btn-sm btn-primary fade" href="#modalLG" id="btnOpen"></button>
            <button class="btn btn-sm btn-primary btnAdd" data-url='@Url.Action("TutorSkillAction", "Master", new { id=0,uid = ViewBag.userid })'>New Skill</button>
        </div>

        <h2 class="panel-title">List of Tutors</h2>
    </header>
</section>
<div class="panel-body">
    <table class="table table-bordered table-striped mb-none" id="datatable-tabletools">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Instrument.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseLevel.LevelName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Instrument.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseLevel.LevelName)
                    </td>

                    <td>
                        <button type="button" class="mb-xs mt-xs mr-xs btn btn-xs btn-success btnAdd" data-url='@Url.Action("TutorSkillAction", "Master", new { id = item.InstumentLevelID,uid=item.UserID })'><i class="fa fa-pencil"></i> </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

                    
              
