@model SMMS.Models.MusicSheet

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Notes Action</h2>
        </header>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.MusicSheetID)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Count, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MusicID, "MusicID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MusicID", (IEnumerable<SelectListItem>)ViewBag.drpMusic, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MusicID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.InstrumentID, "InstrumentID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("InstrumentID", (IEnumerable<SelectListItem>)ViewBag.drpInstrument, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.InstrumentID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CourseLevelID, "CourseLevelID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CourseLevelID", (IEnumerable<SelectListItem>)ViewBag.drpCourseLevel, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CourseLevelID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button class="btn btn-default modal-dismiss">Cancel</button>
                </div>
            </div>
        </footer>
    </section>
}
