@model IEnumerable<SMMS.Models.MusicSheet>

@{
    ViewBag.Title = "Note";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="panel" style="margin-top:100px;">
    <header class="panel-heading">
        <div class="panel-actions">
            <button class="mb-xs mt-xs mr-xs modal-sizes btn btn-sm btn-primary fade" href="#modalLG" id="btnOpen"></button>
            <button class="btn btn-sm btn-primary btnAdd" data-url='@Url.Action("NoteAction", "Orchestra", new { id = 0 })'>New Note</button>
        </div>

        <h2 class="panel-title">List of Music Notes</h2>
    </header>
</section>
<div class="panel-body">
    <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" >
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseLevel.LevelName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Instrument.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Music.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseLevel.LevelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instrument.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Music.Name)
                </td>
                <td>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-xs btn-info btnAdd" data-url='@Url.Action("NoteAction", "Orchestra", new { id = item.MusicSheetID })'><i class="fa fa-pencil"></i> </button>
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>

