@model IEnumerable<SMMS.Models.PerformanceList>

@{
    ViewBag.Title = "Performance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel" style="margin-top:100px;">
    <header class="panel-heading">
        <div class="panel-actions">
            <button class="mb-xs mt-xs mr-xs modal-sizes btn btn-sm btn-primary fade" href="#modalLG" id="btnOpen"></button>
            <button class="btn btn-sm btn-primary btnAdd" data-url='@Url.Action("PerformanceAction", "Orchestra", new { id = 0 })'>New Performance</button>
        </div>

        <h2 class="panel-title">List of performances</h2>
    </header>
</section>
<div class="panel-body">
    <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" >
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PerformanceTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MusicSheet.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Performance.Loaction)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PerformanceTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MusicSheet.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Performance.Loaction)
                    </td>
                    <td>
                        <button type="button" class="mb-xs mt-xs mr-xs btn btn-xs btn-info btnAdd" data-url='@Url.Action("PerformanceAction", "Orchestra", new { id = item.PerformanceListID })'><i class="fa fa-pencil"></i> </button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

