@model IEnumerable<SMMS.Models.InstumentService>

@{
    ViewBag.Title = "ServiceList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel" style="margin-top:100px;">
    <header class="panel-heading">
        <div class="panel-actions">
            <button class="mb-xs mt-xs mr-xs modal-sizes btn btn-sm btn-primary fade" href="#modalLG" id="btnOpen"></button>
           @* <button class="btn btn-sm btn-primary btnAdd" data-url='@Url.Action("AssertAction", "Admin", new { id = 0 })'>New Instrument</button>*@
        </div>
        <h2 class="panel-title">List of Instruments</h2>
    </header>
</section>
<div class="panel-body">
    <table class="table table-bordered table-striped mb-none" id="datatable-tabletools">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Problem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InstrumentHire.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Technician.Description)
                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Problem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InstrumentHire.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Technician.Description)
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
